:root {
  --color-orange: #ff7240;
  --color-orange-dark: #e06438;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-light: #f7f7f7;
  --color-gray-dark: rgb(68, 68, 68);
  --color-blue: #097bed;
}
